<section class="chat-wrapper">
  <div class="conversations">
    <nav class="conversations-nav">
      <div>
        <span class="subhead mb-0 mr-10">Connect</span>
        <nz-select [ngModel]="type" (ngModelChange)="loadConversation($event)" style="width: 150px;">
          <nz-option nzValue="mail" nzLabel="Mailbox"></nz-option>
          <nz-option nzValue="conversations" nzLabel="Conversations"></nz-option>
        </nz-select>
      </div>
      <div>
        <button nz-button nzType="primary" class="mr-8" (click)="createConversation()">
          New message
        </button>
        <button nz-button nzType="primary" (click)="composeMail()">
          Compose mail
        </button>
      </div>
    </nav>
    <router-outlet></router-outlet>
  </div>
  <div class="chat-list">
    <div class="profile">
      <ql-chat-profile></ql-chat-profile>
    </div>
    <div class="people">
      <ql-people></ql-people>
    </div>
  </div>
</section>
