<div class="bg-white px-20 py-14 bb">
    <div nz-row [nzGutter]="16">
        <div nz-col class="gutter-row" [nzSpan]="6">
            <p class="subhead mb-0 mt-5">
                My Projects
            </p>
        </div>
        <div nz-col class="gutter-row" [nzOffset]="3" [nzSpan]="6">
            <nz-input-group [nzSuffix]="suffixIconSearch">
                <input type="text" nz-input placeholder="Search by name" />
            </nz-input-group>
            <ng-template #suffixIconSearch>
                <i nz-icon nzType="search"></i>
            </ng-template>
        </div>
        <div nz-col class="gutter-row text-right" [nzOffset]="3" [nzSpan]="6">
            <button nz-button nzType="primary">Create Project</button>
        </div>
    </div>
</div>