<nz-tabset class="custom" [nzSize]="'small'">
    <nz-tab nzTitle="Roles">
        <div class="p-20">
            <ql-roles></ql-roles>
        </div>
    </nz-tab>
    <nz-tab nzTitle="Experience & CTC Definitions">
        <div class="p-20">
            <ql-experience></ql-experience>
        </div>
    </nz-tab>
    <nz-tab nzTitle="Departments">
        <div class="p-20">
            <ql-departments></ql-departments>
        </div>
    </nz-tab>
    <nz-tab nzTitle="Benefits">
        <div class="p-20">
            <ql-benfits></ql-benfits>
        </div>
    </nz-tab>
</nz-tabset>