<div class="mail cursor">
    <span class="mt-5">
        <nz-avatar [nzShape]="'square'" [nzSize]="'small'" [nzIcon]="'user'"></nz-avatar>
    </span>
    <span class="px-10">
        <strong nz-typography nzEllipsis class="caption2 mb-0 block ellipse">
            Yechuri, Siva Prasad guptha
        </strong>
        <span nz-typography nzEllipsis class="mb-0 caption2 highlight block ellipse">
            Invitation to Party
        </span>
        <span nz-typography nzEllipsis class="mb-0 caption2 text-muted block ellipse">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        </span>
    </span>
</div>