<div class="border bg-white p-10 ">
    <div nz-row [nzGutter]="16">
        <div nz-col [nzSpan]="18">
            <p class="mb-0" nz-typography nzEllipsis><i nz-icon nzType="file" class="fs-16 mr-8" nzTheme="outline"></i>
                <span class="fs-14 mb-0">
                    CrowdFunding Website - Signup form.aco
                </span>
            </p>
        </div>
        <div nz-col [nzSpan]="6" class="text-right">
            <span class="cursor text-muted">
                <i nz-icon nzType="download" class="fs-16" nzTheme="outline"></i>
            </span>
            <nz-divider nzType="vertical"></nz-divider>
            <span class="cursor text-muted">
                <i nz-icon nzType="info-circle" class="fs-16" nzTheme="outline"></i>
            </span>
        </div>
    </div>
</div>