<nav class="bg-white py-10 px-80 bb">
  <div nz-row [nzGutter]="16" nzAlign="middle">
    <div nz-col [nzSpan]="12">
      <nz-avatar [nzSize]="38" [nzShape]="'square'" nzIcon="user"></nz-avatar>
      <span class="subhead ml-8 mb-0">
        QuickLabs Corporation Pvt Ltd.
      </span>
    </div>
    <div nz-col class="text-right" [nzSpan]="12">
      <a nz-button nzType="link" class="mr-8"><i nz-icon nzType="question-circle" nzTheme="outline"></i> FAQ's</a>
      <a nz-button nzType="link" class="mr-8"><i nz-icon nzType="info-circle" nzTheme="outline"></i> User Guide</a>
      <button nz-button nzType="primary">Signout</button>
    </div>
  </div>
</nav>
<section class="pt-30 bg-white px-80">
  <div nz-row [nzGutter]="16" class="mb-30">
    <div nz-col [nzSpan]="12">
      <span class="subhead mb-0">
        Welcome to 360 Console
      </span>
    </div>
  </div>
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="6">
      <div class="bg-white border br-5 p-20 text-center">
        <p>
            <i nz-icon nzType="user" class="text-myportal fs-30" nzTheme="outline"></i>
        </p>
        <p class="subhead mb-0">
            Self Service Portal
        </p>
        <p class="caption2 text-muted">
            Manage your account.
        </p>
      </div>
    </div>
    <div nz-col [nzSpan]="6">
        <div class="bg-white border br-5 p-20 text-center">
          <p>
              <i nz-icon nzType="comment" class="text-comment fs-30" nzTheme="outline"></i>
          </p>
          <p class="subhead mb-0">
              Connect
          </p>
          <p class="caption2 text-muted">
              Access Mail & Conversations
          </p>
        </div>
      </div>
  </div>
</section>
