<nav class="onboarding-nav bg-white py-10 px-80 bb">
  <div nz-row [nzGutter]="16" nzAlign="middle">
    <div nz-col [nzSpan]="12">
      <nz-avatar [nzSize]="38" [nzShape]="'square'" nzIcon="user"></nz-avatar>
      <span class="subhead ml-8 mb-0">
        QuickLabs Corporation Pvt Ltd.
      </span>
    </div>
    <div nz-col class="text-right" [nzSpan]="12">
      <a nz-button nzType="link" class="mr-8"><i nz-icon nzType="question-circle" nzTheme="outline"></i> FAQ's</a>
      <a nz-button nzType="link" class="mr-8"><i nz-icon nzType="info-circle" nzTheme="outline"></i> User Guide</a>
      <button nz-button nzType="primary">Signout</button>
    </div>
  </div>
</nav>
<section class="onboarding-wrapper py-50 px-80">
  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="6" class="py-20">
      <nz-steps [nzCurrent]="currentStep" nzDirection="vertical" nzSize="small">
        <nz-step (click)="currentItem(0)" class="cursor" nzTitle="Getting Started"
          nzDescription="Help us by providing your organization details."></nz-step>
        <nz-step (click)="currentItem(1)" class="cursor" nzTitle="Understanding Requirements"
          nzDescription="Choose the modules that help your organization."></nz-step>
        <nz-step (click)="currentItem(2)" class="cursor" nzTitle="Pricing and Plans"
          nzDescription="Get Tailor made estimates based on your requirements"></nz-step>
        <nz-step (click)="currentItem(3)" class="cursor" nzTitle="Brand & Identity"
          nzDescription="Make it appear as application had made it for you."></nz-step>
        <nz-step nzTitle="Let Set Go"></nz-step>
      </nz-steps>
    </div>
    <div nz-col [nzSpan]="17" nzOffset="1">
      <div class="onboarding-step-container">
        <section *ngIf="currentStep === 0" class="bg-white border py-50">
          <div class="text-center">
            <p class="subhead mb-30 fs-18">
              Organization Details
            </p>
          </div>
          <div nz-row nzJustify="center">
            <div nz-col [nzSpan]="16">
              <form autocomplete="off" nz-form [formGroup]="organizationDetailsForm">
                <nz-form-item class="mb-30">
                  <nz-form-label [nzSpan]="24">Select Industry</nz-form-label>
                  <nz-form-control nzErrorTip="Please select industry">
                    <nz-select formControlName="industry" placeholder="Select industry">
                      <nz-option nzLabel="IT Solutions" nzValue="+86"></nz-option>
                      <nz-option nzLabel="IT Services" nzValue="+87"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item class="mb-30">
                  <nz-form-label [nzSpan]="24">Select Country</nz-form-label>
                  <nz-form-control nzErrorTip="Please select country">
                    <nz-select formControlName="country" placeholder="Select country">
                      <nz-option nzLabel="United states" nzValue="+86"></nz-option>
                      <nz-option nzLabel="India" nzValue="+87"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item class="mb-30">
                  <nz-form-label [nzSpan]="24">Choose Currency</nz-form-label>
                  <nz-form-control nzErrorTip="Please select currency">
                    <nz-select formControlName="currency" placeholder="Select currency">
                      <nz-option nzLabel="US Dollar" nzValue="Dollar"></nz-option>
                      <nz-option nzLabel="Indian Rupees" nzValue="INR"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
                <div nz-row [nzGutter]="16">
                  <div nz-col [nzSpan]="12">
                    <nz-form-item class="mb-30">
                      <nz-form-label [nzSpan]="24">Enter State</nz-form-label>
                      <nz-form-control nzErrorTip="Please select state">
                        <input type="text" nz-input formControlName="state" placeholder="Enter State" />
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                  <div nz-col [nzSpan]="12">
                    <nz-form-item class="mb-30">
                      <nz-form-label [nzSpan]="24">Zipcode</nz-form-label>
                      <nz-form-control nzErrorTip="Please enter zipcode">
                        <input type="number" nz-input formControlName="zipcode" placeholder="Enter zipcode" />
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>
                <nz-form-item class="mb-30">
                  <nz-form-label [nzSpan]="24">Organization Address</nz-form-label>
                  <nz-form-control nzErrorTip="Please enter a valid Address">
                    <nz-textarea-count [nzMaxCharacterCount]="150">
                      <textarea rows="4" formControlName="orgAddress" placeholder="Enter organization address"
                        nz-input></textarea>
                    </nz-textarea-count>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item class="mb-30">
                  <nz-form-label [nzSpan]="24">Specify Team Size</nz-form-label>
                  <nz-form-control nzErrorTip="Please enter valid team size">
                    <input type="number" nz-input formControlName="teamSize" placeholder="Enter team size" />
                  </nz-form-control>
                </nz-form-item>

              </form>
              <div class="mt-20 text-center">
                <button nz-button nzType="primary" (click)="currentItem(1)">Continue</button>
              </div>
            </div>
          </div>
        </section>
        <section *ngIf="currentStep === 1" class="p-50 py-0">
          <div nz-row [nzGutter]="16">
            <div nz-col [nzSpan]="12">
              <section class="module-item mt-10 p-20 bg-white border br-5">
                <i nz-icon nzType="user" class="fs-24 text-muted mr-8" nzTheme="outline"></i> <span class="footnote">
                  Self Service Portal
                </span>
                <label class="module-select" nz-checkbox [nzDisabled]="true"
                  [(ngModel)]="modules.selfServicePortal"></label>
              </section>
            </div>
            <div nz-col [nzSpan]="12">
              <section class="module-item mt-10 p-20 bg-white border br-5">
                <i nz-icon nzType="mail" class="fs-24 text-muted mr-8" nzTheme="outline"></i> <span class="footnote">
                  Mailbox
                </span>
                <label class="module-select" nz-checkbox [nzDisabled]="true" [(ngModel)]="modules.mailbox"></label>
              </section>
            </div>
            <div nz-col [nzSpan]="12">
              <section class="module-item mt-10 p-20 bg-white border br-5">
                <i nz-icon nzType="comment" class="fs-24 text-muted mr-8" nzTheme="outline"></i> <span class="footnote">
                  Conversations
                </span>
                <label class="module-select" nz-checkbox [(ngModel)]="modules.conversations"></label>
              </section>
            </div>
            <div nz-col [nzSpan]="12">
              <section class="module-item mt-10 p-20 bg-white border br-5">
                <i nz-icon nzType="calculator" class="fs-24 text-muted mr-8" nzTheme="outline"></i> <span
                  class="footnote">
                  Payroll Management
                </span>
                <label class="module-select" nz-checkbox [(ngModel)]="modules.accounting"></label>
              </section>
            </div>
            <div nz-col [nzSpan]="12">
              <section class="module-item mt-10 p-20 bg-white border br-5">
                <i nz-icon nzType="audit" class="fs-24 text-muted mr-8" nzTheme="outline"></i> <span class="footnote">
                  Invoices & Accounting
                </span>
                <label class="module-select" nz-checkbox [(ngModel)]="modules.accounting"></label>
              </section>
            </div>
            <div nz-col [nzSpan]="12">
              <section class="module-item mt-10 p-20 bg-white border br-5">
                <i nz-icon nzType="fund-view" class="fs-24 text-muted mr-8" nzTheme="outline"></i> <span
                  class="footnote">
                  Hiring & Onboarding
                </span>
                <label class="module-select" nz-checkbox [(ngModel)]="modules.marketing"></label>
              </section>
            </div>
            <div nz-col [nzSpan]="12">
              <section class="module-item mt-10 p-20 bg-white border br-5">
                <i nz-icon nzType="hourglass" class="fs-24 text-muted mr-8" nzTheme="outline"></i> <span
                  class="footnote">
                  Timesheets & Performance
                </span>
                <label class="module-select" nz-checkbox [(ngModel)]="modules.sales"></label>
              </section>
            </div>
            <div nz-col [nzSpan]="12">
              <section class="module-item mt-10 p-20 bg-white border br-5">
                <i nz-icon nzType="customer-service" class="fs-24 text-muted mr-8" nzTheme="outline"></i> <span
                  class="footnote">
                  Support Desk
                </span>
                <label class="module-select" nz-checkbox [(ngModel)]="modules.crm"></label>
              </section>
            </div>
            <div nz-col [nzSpan]="12">
              <section class="module-item mt-10 p-20 bg-white border br-5">
                <i nz-icon nzType="phone" class="fs-24 text-muted mr-8" nzTheme="outline"></i> <span class="footnote">
                  Contact Center
                </span>
                <label class="module-select" nz-checkbox [(ngModel)]="modules.admin"></label>
              </section>
            </div>
            <div nz-col [nzSpan]="12">
              <section class="module-item mt-10 p-20 bg-white border br-5">
                <i nz-icon nzType="heart" class="fs-24 text-muted mr-8" nzTheme="outline"></i> <span class="footnote">
                  Customer Success
                </span>
                <label class="module-select" nz-checkbox [(ngModel)]="modules.admin"></label>
              </section>
            </div>
            <div nz-col [nzSpan]="12">
              <section class="module-item mt-10 p-20 bg-white border br-5">
                <i nz-icon nzType="robot" class="fs-24 text-muted mr-8" nzTheme="outline"></i> <span class="footnote">
                  Messaging Bots
                </span>
                <label class="module-select" nz-checkbox [(ngModel)]="modules.pm"></label>
              </section>
            </div>
            <div nz-col [nzSpan]="12">
              <section class="module-item mt-10 p-20 bg-white border br-5">
                <i nz-icon nzType="fund-projection-screen" class="fs-24 text-muted mr-8" nzTheme="outline"></i> <span
                  class="footnote">
                  Sales CRM
                </span>
                <label class="module-select" nz-checkbox [(ngModel)]="modules.pm"></label>
              </section>
            </div>
            <div nz-col [nzSpan]="12">
              <section class="module-item mt-10 p-20 bg-white border br-5">
                <i nz-icon nzType="notification" class="fs-24 text-muted mr-8" nzTheme="outline"></i> <span
                  class="footnote">
                  Marketing Tools
                </span>
                <label class="module-select" nz-checkbox [(ngModel)]="modules.pm"></label>
              </section>
            </div>
            <div nz-col [nzSpan]="12">
              <section class="module-item mt-10 p-20 bg-white border br-5">
                <i nz-icon nzType="shop" class="fs-24 text-muted mr-8" nzTheme="outline"></i> <span class="footnote">
                  Website Builder
                </span>
                <label class="module-select" nz-checkbox [(ngModel)]="modules.pm"></label>
              </section>
            </div>
            <div nz-col [nzSpan]="12">
              <section class="module-item mt-10 p-20 bg-white border br-5">
                <i nz-icon nzType="group" class="fs-24 text-muted mr-8" nzTheme="outline"></i> <span class="footnote">
                  Internal Service Management
                </span>
                <label class="module-select" nz-checkbox [(ngModel)]="modules.pm"></label>
              </section>
            </div>
            <div nz-col [nzSpan]="12">
              <section class="module-item mt-10 p-20 bg-white border br-5">
                <i nz-icon nzType="ungroup" class="fs-24 text-muted mr-8" nzTheme="outline"></i> <span class="footnote">
                  Internal Operations
                </span>
                <label class="module-select" nz-checkbox [(ngModel)]="modules.pm"></label>
              </section>
            </div>
            <div nz-col [nzSpan]="12">
              <section class="module-item mt-10 p-20 bg-white border br-5">
                <i nz-icon nzType="fork" class="fs-24 text-muted mr-8" nzTheme="outline"></i> <span class="footnote">
                  Project Management
                </span>
                <label class="module-select" nz-checkbox [(ngModel)]="modules.pm"></label>
              </section>
            </div>
            <div nz-col [nzSpan]="12">
              <section class="module-item mt-10 p-20 bg-white border br-5">
                <i nz-icon nzType="desktop" class="fs-24 text-muted mr-8" nzTheme="outline"></i> <span class="footnote">
                  Asset Management
                </span>
                <label class="module-select" nz-checkbox [(ngModel)]="modules.pm"></label>
              </section>
            </div>
          </div>
          <div class="mt-20 text-center">
            <button nz-button nzType="default" class="mr-8" (click)="currentItem(1)">Back</button>
            <button nz-button nzType="primary" (click)="currentItem(2)">Continue</button>
          </div>
        </section>
        <section *ngIf="currentStep === 2" class="bg-white border p-20">
          <div class="text-center">
            <p class="subhead mb-30 fs-18">
              Estimation & Billing.
            </p>
          </div>
          <div>
            <ul nz-list nzBordered nzSize="small">
              <nz-list-header nz-row>
                <div nz-col [nzSpan]="12">
                  <p class="subhead mb-0">
                    QuickLabs Corporation Pvt LTD
                  </p>
                  <span class="footnote text-muted">
                    Estimation Date:
                  </span>
                </div>
                <div nz-col [nzSpan]="12" class="text-right">
                  <span class="footnote text-muted">

                  </span>
                </div>
              </nz-list-header>
              <li nz-list-item>
                <span class="text-uppercase caption2">One Time Subscription</span>
              </li>
              <li nz-list-item>
                <div nz-col [nzSpan]="12">
                  <p class="footnote mb-0">
                    Basic Features
                  </p>
                  <span class="caption2 text-muted">
                    Self Service Portal, Mailbox, Conversations
                  </span>
                </div>
                <div nz-col [nzSpan]="12" class="text-right">
                  <span class="footnote">
                    INR 3000/-
                  </span>
                </div>
              </li>
              <li nz-list-item>
                <div nz-col [nzSpan]="12">
                  <p class="footnote mb-0">
                    HR Module
                  </p>
                  <span class="caption2 text-muted">
                    Hiring & Onboarding, Core HR, Payroll Management
                  </span>
                </div>
                <div nz-col [nzSpan]="6" class="text-right">
                  <span class="footnote text-muted">
                    3 x 3000
                  </span>
                </div>
                <div nz-col [nzSpan]="6" class="text-right">
                  <span class="footnote">
                    INR 9000/-
                  </span>
                </div>
              </li>
              <li nz-list-item class="text-right">
                <div nz-col [nzSpan]="6" nzOffset="12" class="text-right">
                  <span class="footnote text-muted">
                    Total
                  </span>
                </div>
                <div nz-col [nzSpan]="6" class="text-right">
                  <span class="footnote">
                    INR 12000/-
                  </span>
                </div>
              </li>
              <li nz-list-item>
                <span class="text-uppercase caption2">Recurring Subscriptions</span>
              </li>
              <li nz-list-item>
                <div nz-col [nzSpan]="12">
                  <p class="footnote mb-0">
                    User Subscription
                  </p>
                  <span class="caption2 text-muted">
                    First 20 users.
                  </span>
                </div>
                <div nz-col [nzSpan]="12" class="text-right">
                  <span class="footnote">
                    INR 0/-
                  </span>
                </div>
              </li>
              <li nz-list-item>
                <div nz-col [nzSpan]="12">
                  <p class="footnote mb-0">
                    Storage Space
                  </p>
                  <span class="caption2 text-muted">
                    Upto 5GB
                  </span>
                </div>
                <div nz-col [nzSpan]="12" class="text-right">
                  <span class="footnote">
                    INR 0/-
                  </span>
                </div>
              </li>
              <li nz-list-item>
                <div nz-col [nzSpan]="12">
                  <p class="footnote mb-0">
                    Incremental Users
                  </p>
                  <span class="caption2 text-muted">
                    As per your team size estimated amount
                  </span>
                </div>
                <div nz-col [nzSpan]="6" class="text-right">
                  <span class="footnote text-muted">
                    80 x 400
                  </span>
                </div>
                <div nz-col [nzSpan]="6" class="text-right">
                  <span class="footnote">
                    INR 32000/-
                  </span>
                </div>
              </li>
              <li nz-list-item class="text-right">
                <div nz-col [nzSpan]="6" nzOffset="12" class="text-right">
                  <span class="footnote text-muted">
                    Total
                  </span>
                </div>
                <div nz-col [nzSpan]="6" class="text-right">
                  <span class="footnote">
                    INR 32000/-
                  </span>
                </div>
              </li>
              <nz-list-footer class="text-right">
                <div nz-row class="pt-30">
                  <div nz-col [nzSpan]="6" nzOffset="12" class="text-right">
                    <span class="footnote text-muted">
                      Grand Total
                    </span>
                  </div>
                  <div nz-col [nzSpan]="6" class="text-right">
                    <strong class="caption2 fs-14">
                      INR 44000/-
                    </strong>
                  </div>
                </div>
              </nz-list-footer>
            </ul>
          </div>
          <div class="mt-20 text-center">
            <button nz-button nzType="default" class="mr-8" (click)="currentItem(1)">Back</button>
            <button nz-button nzType="default" class="mr-8">Send Estimate over Email</button>
            <button nz-button nzType="primary" (click)="currentItem(3)">Activate Free 30 Day Trail</button>
          </div>
        </section>
        <section *ngIf="currentStep === 3" class="bg-white border p-20">
          Brand Logo Uploads comes here.

          <div class="mt-20 text-center">
            <button nz-button nzType="default" class="mr-8" (click)="currentItem(2)">Back</button>
            <button nz-button nzType="primary" (click)="currentItem(4)">Skip & Continue</button>
          </div>
        </section>
        <section *ngIf="currentStep === 4" class="bg-white border p-20">
          <div class="px-80">
            <nz-result nzStatus="success" nzTitle="Horray! Onboarding Successfully."
              nzSubTitle="Your Trail got activated for 30 Day period.">
              <div nz-result-extra>
                <button nz-button nzType="primary">Go to Console</button>
              </div>
            </nz-result>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>
