<nav class="onboarding-nav bg-white py-10 px-80 bb">
  <div nz-row [nzGutter]="16" nzAlign="middle">
    <div nz-col [nzSpan]="12">
      <nz-avatar [nzSize]="38" [nzShape]="'square'" nzIcon="user"></nz-avatar>
      <span class="subhead ml-8 mb-0">
        QuickLabs Corporation Pvt Ltd.
      </span>
    </div>
    <div nz-col class="text-right" [nzSpan]="12">
      <a nz-button nzType="link" class="mr-8"><i nz-icon nzType="question-circle" nzTheme="outline"></i> FAQ's</a>
      <a nz-button nzType="link" class="mr-8"><i nz-icon nzType="info-circle" nzTheme="outline"></i> User Guide</a>
      <button nz-button nzType="primary" (click)="signOut()">Signout</button>
    </div>
  </div>
</nav>
<section class="onboarding-wrapper py-50 px-80">
  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="6" class="py-20">
      <nz-steps [nzCurrent]="currentStep" nzDirection="vertical" nzSize="small">
        <nz-step (click)="currentItem(0)" class="cursor" nzTitle="Help Us Understand Your Business"
          nzDescription="Enlighten Us with Your Business Details"></nz-step>
        <nz-step (click)="currentItem(1)" class="cursor" nzTitle="Gaining Insights"
          nzDescription="Select Modules to Match Your Company's Needs."></nz-step>
        <nz-step (click)="currentItem(2)" class="cursor" nzTitle="Finding the Perfect Fit"
          nzDescription="Discover the Perfect Plan: Pricing that Fits Your Needs"></nz-step>
        <nz-step (click)="currentItem(3)" class="cursor" nzTitle="Customized Branding"
          nzDescription="Unlock the full potential product today!"></nz-step>
      </nz-steps>
    </div>
    <div nz-col [nzSpan]="17" nzOffset="1">
      <div class="onboarding-step-container">
        <section *ngIf="currentStep === 0">
          <div class="text-center mb-50">
            <p class="title2 mb-10">
              Organization Details
            </p>
            <p class="subhead">
              Please provide the following information to configure your organization.
            </p>
          </div>
          <div *qlGostLoader="baseData; else formGhostTemplate">
            <div nz-row nzJustify="center" class="bg-white border py-50">
              <div nz-col [nzSpan]="16">
                <form autocomplete="off" nz-form [formGroup]="organizationDetailsForm">
                  <nz-form-item class="mb-30">
                    <nz-form-label [nzSpan]="24">Select Industry</nz-form-label>
                    <nz-form-control nzErrorTip="Please select industry">
                      <nz-select formControlName="industry" placeholder="Select industry">
                        <nz-option nzLabel="Select Industry" nzValue="''">
                        </nz-option>
                        <nz-option *ngFor="let each of baseData.industries" [nzLabel]="each.name" [nzValue]="each.id">
                        </nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item class="mb-30">
                    <nz-form-label [nzSpan]="24">Select Country</nz-form-label>
                    <nz-form-control nzErrorTip="Please select country">
                      <nz-select formControlName="country" placeholder="Select country">
                        <nz-option *ngFor="let each of baseData.countries" [nzLabel]="each.name" [nzValue]="each.id">
                        </nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item class="mb-30">
                    <nz-form-label [nzSpan]="24">Choose Currency</nz-form-label>
                    <nz-form-control nzErrorTip="Please select currency">
                      <nz-select formControlName="currency" placeholder="Select currency">
                        <nz-option *ngFor="let each of baseData.countries" [nzLabel]="each.currency"
                          [nzValue]="each.id">
                        </nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                  <div nz-row [nzGutter]="16">
                    <div nz-col [nzSpan]="12">
                      <nz-form-item class="mb-30">
                        <nz-form-label [nzSpan]="24">Enter State</nz-form-label>
                        <nz-form-control nzErrorTip="Please select state">
                          <input type="text" nz-input formControlName="state" placeholder="Enter State" />
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                    <div nz-col [nzSpan]="12">
                      <nz-form-item class="mb-30">
                        <nz-form-label [nzSpan]="24">Zipcode</nz-form-label>
                        <nz-form-control nzErrorTip="Please enter zipcode">
                          <input type="number" nz-input formControlName="zipcode" placeholder="Enter zipcode" />
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                  </div>
                  <nz-form-item class="mb-30">
                    <nz-form-label [nzSpan]="24">Organization Address</nz-form-label>
                    <nz-form-control nzErrorTip="Please enter a valid Address">
                      <nz-textarea-count [nzMaxCharacterCount]="150">
                        <textarea rows="4" formControlName="orgAddress" placeholder="Enter organization address"
                          nz-input></textarea>
                      </nz-textarea-count>
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item class="mb-30">
                    <nz-form-label [nzSpan]="24">Specify Team Size</nz-form-label>
                    <nz-form-control nzErrorTip="Please enter valid team size">
                      <input type="number" nz-input formControlName="teamSize" placeholder="Enter team size" />
                    </nz-form-control>
                  </nz-form-item>

                </form>
                <div class="mt-20 text-center">
                  <button nz-button nzType="primary" (click)="submitOrganizationForm()">Continue</button>
                </div>
              </div>
            </div>
          </div>
          <ng-template #formGhostTemplate>
            <nz-skeleton [nzActive]="true"></nz-skeleton>
          </ng-template>
        </section>
        <section *ngIf="currentStep === 1" class="p-50 py-0">
          <div class="text-center mb-50">
            <p class="title2 mb-10">
              Customize Your Application
            </p>
            <p class="subhead">
              Tailor your software to fit your business requirements by choosing the specific modules that best align
              with your needs. Build a personalized solution that optimizes efficiency and enhances productivity
            </p>
          </div>
          <div nz-row [nzGutter]="16">
            <div nz-col [nzSpan]="12" *ngFor="let module of baseData.modules">
              <section class="module-item mt-10 p-20 bg-white border br-5">
                <i nz-icon [nzType]="module.icon" class="fs-24 text-muted mr-8" nzTheme="outline"></i> <span
                  class="footnote">
                  {{module.name}}
                </span>
                <label class="module-select" nz-checkbox [nzId]="module.id" [nzDisabled]="!module.optional"
                  [(ngModel)]="module.subscribed"></label>
              </section>
            </div>
          </div>
          <div class="mt-20 text-center">
            <button nz-button nzType="default" class="mr-8" (click)="currentItem(1)">Back</button>
            <button nz-button nzType="primary" (click)="subscribeToModules()">Continue</button>
          </div>
        </section>
        <section *ngIf="currentStep === 2">
          <div class="text-center mb-50">
            <p class="title2 mb-10">
              Estimation & Billing Summary
            </p>
            <p class="subhead">
              Streamline Your Finances with Accurate Estimates and Efficient Billing. Stay on Top of Your Financial
              Performance.
            </p>
          </div>
          <section class="bg-white border p-20">
            <div>
              <ul nz-list nzBordered nzSize="small">
                <nz-list-header nz-row>
                  <div nz-col [nzSpan]="12">
                    <p class="subhead mb-0">
                      QuickLabs Corporation Pvt LTD
                    </p>
                    <span class="footnote text-muted">
                      Estimation Date:
                    </span>
                  </div>
                  <div nz-col [nzSpan]="12" class="text-right">
                    <span class="footnote text-muted">

                    </span>
                  </div>
                </nz-list-header>
                <li nz-list-item>
                  <span class="text-uppercase caption2">One Time Subscription</span>
                </li>
                <li nz-list-item>
                  <div nz-col [nzSpan]="12">
                    <p class="footnote mb-0">
                      Basic Features
                    </p>
                    <span class="caption2 text-muted">
                      Self Service Portal, Mailbox, Conversations
                    </span>
                  </div>
                  <div nz-col [nzSpan]="12" class="text-right">
                    <span class="footnote">
                      INR 3000/-
                    </span>
                  </div>
                </li>
                <li nz-list-item>
                  <div nz-col [nzSpan]="12">
                    <p class="footnote mb-0">
                      HR Module
                    </p>
                    <span class="caption2 text-muted">
                      Hiring & Onboarding, Core HR, Payroll Management
                    </span>
                  </div>
                  <div nz-col [nzSpan]="6" class="text-right">
                    <span class="footnote text-muted">
                      3 x 3000
                    </span>
                  </div>
                  <div nz-col [nzSpan]="6" class="text-right">
                    <span class="footnote">
                      INR 9000/-
                    </span>
                  </div>
                </li>
                <li nz-list-item class="text-right">
                  <div nz-col [nzSpan]="6" nzOffset="12" class="text-right">
                    <span class="footnote text-muted">
                      Total
                    </span>
                  </div>
                  <div nz-col [nzSpan]="6" class="text-right">
                    <span class="footnote">
                      INR 12000/-
                    </span>
                  </div>
                </li>
                <li nz-list-item>
                  <span class="text-uppercase caption2">Recurring Subscriptions</span>
                </li>
                <li nz-list-item>
                  <div nz-col [nzSpan]="12">
                    <p class="footnote mb-0">
                      User Subscription
                    </p>
                    <span class="caption2 text-muted">
                      First 20 users.
                    </span>
                  </div>
                  <div nz-col [nzSpan]="12" class="text-right">
                    <span class="footnote">
                      INR 0/-
                    </span>
                  </div>
                </li>
                <li nz-list-item>
                  <div nz-col [nzSpan]="12">
                    <p class="footnote mb-0">
                      Storage Space
                    </p>
                    <span class="caption2 text-muted">
                      Upto 5GB
                    </span>
                  </div>
                  <div nz-col [nzSpan]="12" class="text-right">
                    <span class="footnote">
                      INR 0/-
                    </span>
                  </div>
                </li>
                <li nz-list-item>
                  <div nz-col [nzSpan]="12">
                    <p class="footnote mb-0">
                      Incremental Users
                    </p>
                    <span class="caption2 text-muted">
                      As per your team size estimated amount
                    </span>
                  </div>
                  <div nz-col [nzSpan]="6" class="text-right">
                    <span class="footnote text-muted">
                      80 x 400
                    </span>
                  </div>
                  <div nz-col [nzSpan]="6" class="text-right">
                    <span class="footnote">
                      INR 32000/-
                    </span>
                  </div>
                </li>
                <li nz-list-item class="text-right">
                  <div nz-col [nzSpan]="6" nzOffset="12" class="text-right">
                    <span class="footnote text-muted">
                      Total
                    </span>
                  </div>
                  <div nz-col [nzSpan]="6" class="text-right">
                    <span class="footnote">
                      INR 32000/-
                    </span>
                  </div>
                </li>
                <nz-list-footer class="text-right">
                  <div nz-row class="pt-30">
                    <div nz-col [nzSpan]="6" nzOffset="12" class="text-right">
                      <span class="footnote text-muted">
                        Grand Total
                      </span>
                    </div>
                    <div nz-col [nzSpan]="6" class="text-right">
                      <strong class="caption2 fs-14">
                        INR 44000/-
                      </strong>
                    </div>
                  </div>
                </nz-list-footer>
              </ul>
            </div>
            <div class="mt-20 text-center">
              <button nz-button nzType="default" class="mr-8" (click)="currentItem(1)">Back</button>
              <button nz-button nzType="default" class="mr-8">Send Estimate over Email</button>
              <button nz-button nzType="primary" (click)="goToConsole()">Activate Free 30 Day Trail</button>
            </div>
          </section>
        </section>
        <section *ngIf="currentStep === 3">
          <div class="text-center mb-50">
            <p class="title2 mb-10">
              Customized Branding - Setup
            </p>
            <p class="subhead">
              Choose from a wide range of color combinations or input your existing brand colors for a cohesive and customized look.
            </p>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>
