<nz-modal [(nzVisible)]="visible" [nzTitle]="modalTitle" [nzFooter]="null" [nzContent]="modalContent"
    (nzOnCancel)="close()">
    <ng-template #modalTitle>Start Conversation</ng-template>
    <ng-template #modalContent>
        <div nz-row [nzGutter]="16">
            <div nz-col class="gutter-row" [nzSpan]="18">
                <input autofocus nz-input placeholder="Enter Name" />
            </div>
            <div nz-col class="gutter-row" [nzSpan]="6">
                <button nz-button nzBlock nzType="primary">Go</button>
            </div>
        </div>
    </ng-template>
</nz-modal>