<section class="p-20">
    <div nz-row [nzGutter]="16">
        <div nz-col nzSpan="8">
            <div class="bg-white border p-20">
                <div class="mb-10">
                    <nz-progress [nzPercent]="75" nzType="circle"></nz-progress>
                </div>
            </div>
        </div>
        <div nz-col nzSpan="16">
            <div class="bg-white border px-20 py-10 mb-10">
                <div nz-row [nzGutter]="16">
                    <div nz-col nzSpan="6">
                        <span class="text-muted label-small mb-3">
                            Designation
                        </span>
                        <span class="caption2 mb-0">
                            Jr Software Engineer.
                        </span>
                    </div>
                    <div nz-col nzSpan="6">
                        <span class="text-muted label-small mb-3">
                            Department
                        </span>
                        <span class="caption2 mb-0">
                            Operations
                        </span>
                    </div>
                    <div nz-col nzSpan="6">
                        <span class="text-muted label-small mb-3">
                            Project Allocated
                        </span>
                        <span class="caption2 mb-0">
                            VolunteerMark
                        </span>
                    </div>
                    <div nz-col nzSpan="6">
                        <span class="text-muted label-small mb-3">
                            Employee ID
                        </span>
                        <span class="caption2 mb-0">
                            000001
                        </span>
                    </div>
                </div>
            </div>
            <div nz-row [nzGutter]="16">
                <div nz-col nzSpan="8">
                    <div class="bg-white border px-20 py-10">
                        <div nz-row [nzGutter]="16" class="mb-10">
                            <div nz-col nzSpan="24">
                                <span class="text-muted label-small mb-8">
                                    Reports to
                                </span>
                            </div>
                        </div>
                        <div nz-row [nzGutter]="16">
                            <div nz-col nzSpan="24">
                                <span class="mb-0">
                                    <nz-badge nzDot>
                                        <nz-avatar nzSize="small" nzText="S" [nzShape]="'square'">
                                        </nz-avatar>
                                    </nz-badge>
                                    <span class="ml-5 caption1 mr-8">Surya Kavutarapu</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div nz-col nzSpan="16">
                    <div class="bg-white border px-20 py-10">
                        <div nz-row [nzGutter]="16" class="mb-10">
                            <div nz-col nzSpan="12">
                                <span class="text-muted label-small mb-0">
                                    Reports to you (15)
                                </span>
                            </div>
                            <div nz-col nzSpan="12" class="text-right">
                                <a href="" class="caption2">view all</a>
                            </div>
                        </div>
                        <div nz-row [nzGutter]="16">
                            <div nz-col nzSpan="12">
                                <span class="mb-0">
                                    <nz-badge nzDot>
                                        <nz-avatar nzSize="small" nzText="S" [nzShape]="'square'">
                                        </nz-avatar>
                                    </nz-badge>
                                    <span class="ml-5 caption1 mr-8">Surya Kavutarapu</span>
                                </span>
                            </div>
                            <div nz-col nzSpan="12">
                                <span class="mb-0">
                                    <nz-badge nzDot>
                                        <nz-avatar nzSize="small" nzText="S" [nzShape]="'square'">
                                        </nz-avatar>
                                    </nz-badge>
                                    <span class="ml-5 caption1 mr-8">Surya Kavutarapu</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>