<div class="people">
    <div class="search">
       
    </div>
    <div class="list">
        <nz-collapse nzGhost>
            <nz-collapse-panel [nzHeader]="'Members'" [nzActive]="true">
                <div class="member-container">
                    <ql-peoplelistitem *ngFor="let each of members" [data]="each"></ql-peoplelistitem>
                </div>
            </nz-collapse-panel>
            <nz-collapse-panel [nzHeader]="'Departments'" [nzActive]="true">
                <div class="member-container">
                    <ql-peoplelistitem *ngFor="let each of teams" [data]="each"></ql-peoplelistitem>
                </div>
            </nz-collapse-panel>
        </nz-collapse>
    </div>
</div>