<div class="common-template">
  <aside class="common-sidebar">
    <div class="p-10 bb heading">
      <p class="headline mb-0 title">
        HR Management
      </p>
    </div>
    <ul nz-menu [nzMode]="'vertical'">
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['./analytics']" [queryParams]="{ tab: 'four' }" queryParamsHandling="merge">
          Analytics
        </a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['./hiring']" [queryParams]="{ tab: 'four' }" queryParamsHandling="merge">
          Hiring
        </a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['./attandance']" [queryParams]="{ tab: 'four' }" queryParamsHandling="merge">
          Leaves & Attandance Management
        </a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['./legaldocuments']" [queryParams]="{ tab: 'four' }" queryParamsHandling="merge">
          Legal documents
        </a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['./onboarding']" [queryParams]="{ tab: 'four' }" queryParamsHandling="merge">
          Onboarding & Exits
        </a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['./organization']" [queryParams]="{ tab: 'four' }" queryParamsHandling="merge">
          Organization Structure
        </a>

      </li>
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['./configurations']" [queryParams]="{ tab: 'four' }" queryParamsHandling="merge">
          Configurations
        </a>
      </li>
    </ul>
  </aside>
  <main class="main-section">
    <router-outlet></router-outlet>
  </main>
</div>
