<main class="dashboard-wrapper">
    <aside class="sidebar">
        <div class="wrap">
            <div class="logo">
                <img src="/assets/sample-logo.png" alt="Sample logo">
            </div>
        </div>
        <div class="wrap multiple">
            <div class="side-card" (click)="navigateTo('overview')">
                <i nz-icon nzType="dashboard" nzTheme="outline"></i>
            </div>
            <div class="side-card" (click)="navigateTo('connect')">
                <i nz-icon nzType="comment" nzTheme="outline"></i>
            </div>
        </div>
        <div class="wrap multiple">
            <div class="side-card" (click)="navigateTo('hr')">
                <i nz-icon nzType="solution" nzTheme="outline"></i>
            </div>
            <div class="side-card" (click)="navigateTo('resources')">
                <i nz-icon nzType="user" nzTheme="outline"></i>
            </div>
            <div class="side-card" (click)="navigateTo('admin')">
                <i nz-icon nzType="setting" nzTheme="outline"></i>
            </div>
            <div class="side-card" (click)="navigateTo('accounts')">
                <i nz-icon nzType="audit" nzTheme="outline"></i>
            </div>
        </div>
        <div class="wrap">
            <div class="side-card" (click)="navigateTo('entities')">
                <i nz-icon nzType="appstore" nzTheme="outline"></i>
            </div>
        </div>
        <div class="wrap">
            <div class="side-card" (click)="navigateTo('services')">
                <i nz-icon nzType="build" nzTheme="outline"></i>
            </div>
        </div>
    </aside>
    <router-outlet></router-outlet>
</main>