<nz-tabset class="custom" [nzSize]="'small'">
    <nz-tab nzTitle="Analytics">
        <div class="p-20">
            <ql-analytics-hiring></ql-analytics-hiring>
        </div>
    </nz-tab>
    <nz-tab nzTitle="Openings">
        <div class="p-20">
            <ql-jobs></ql-jobs>
        </div>
    </nz-tab>
    <nz-tab nzTitle="Automation">
        <div class="p-20">
            <ql-interview-templates></ql-interview-templates>
        </div>
    </nz-tab>
    <nz-tab nzTitle="Scheduled">
        <div class="p-20">
            <ql-hiring-scheduled></ql-hiring-scheduled>
        </div>
    </nz-tab>
    <nz-tab nzTitle="Requests">
        <div class="p-20">
            <ql-hiring-requests></ql-hiring-requests>
        </div>
    </nz-tab>
</nz-tabset>