<nz-tabset class="custom" [nzSize]="'small'">
    <nz-tab nzTitle="Attendance Overview">
        <div class="p-20">
            <ql-info-alert [src]="'attendance'" [alt]="'attendance'"
                [heading]="'Time tracking that doesn’t feel like micromanaging.'"
                [description]="'Move faster on a recruiting platform that automates process and manual tasks, like scheduling interviews and getting approvals.'">
            </ql-info-alert>
        </div>
    </nz-tab>
    <nz-tab nzTitle="Leave Policies">
        <div class="p-20">

        </div>
    </nz-tab>
    <nz-tab nzTitle="Shift Management">
        <div class="p-20">

        </div>
    </nz-tab>
    <nz-tab nzTitle="Device Integrations">
        <div class="p-20">

        </div>
    </nz-tab>
</nz-tabset>