/// Custom Theming for NG-ZORRO
// For more information: https://ng.ant.design/docs/customize-theme/en
@import "../node_modules/ng-zorro-antd/ng-zorro-antd.less";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,700&display=swap');
// Override less variables to here
// View all variables: https://github.com/NG-ZORRO/ng-zorro-antd/blob/master/components/style/themes/default.less

// @primary-color: #1890ff;
/* You can add global styles to this file, and also import other style files */
@import './variables';
@import './typography';

body {
  overflow-x: hidden;
  margin: 0px;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

[nz-icon] {
  font-size: 16px;
  vertical-align: middle;
}

.anticon {
  vertical-align: middle;
}

// styles
// Helpers

@iterations: 100;

.util-loop (@i) when (@i > -1) {
  .m-@{i} {
    margin:~"@{i}px";
  }

  .mt-@{i} {
    margin-top:~"@{i}px";
  }

  .mb-@{i} {
    margin-bottom:~"@{i}px";
  }

  .mr-@{i} {
    margin-right:~"@{i}px";
  }

  .ml-@{i} {
    margin-left:~"@{i}px";
  }

  .p-@{i} {
    padding:~"@{i}px";
  }

  .pt-@{i} {
    padding-top:~"@{i}px";
  }

  .px-@{i} {
    padding-right:~"@{i}px";
    padding-left:~"@{i}px";
  }

  .py-@{i} {
    padding-bottom:~"@{i}px";
    padding-top:~"@{i}px";
  }

  .pb-@{i} {
    padding-bottom:~"@{i}px";
  }

  .pr-@{i} {
    padding-right:~"@{i}px";
  }

  .pl-@{i} {
    padding-left:~"@{i}px";
  }

  .util-loop(@i - 1);
}

.util-loop (@iterations);

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}


// overrides

.ant-form label {
  .label();
}


.ant-form-item-explain,
.ant-form-item-extra {
  .py-10;
  .base-text();
}


.ant-form-item-label>label {
  height: auto;
}

.ant-form label.ant-radio-wrapper {
  .caption1();
  text-transform: capitalize;

  >.ant-radio+span {
    vertical-align: sub;
  }
}

.ant-select-multiple .ant-select-selection-item {
  background-color: @component-background;
}

nz-date-picker {
  width: 100%;
}

.ant-modal-body,
.ant-drawer-body {
  .base-text();
}

.ant-modal-title,
.ant-drawer-title {
  .subhead();
  margin-bottom: 0px;
}

th.ant-table-cell {
  .footnote();
  margin-bottom: 0px;
  display: table-cell !important;
  font-weight: 500 !important;
}

td.ant-table-cell {
  .caption1();
  margin-bottom: 0px;

  a {
    .label();
    display: inline-block;
    margin-bottom: 0px;
  }
}

.ant-table-tbody>tr.ant-table-row:hover>td {
  background-color: @blue-1;
}


.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  background-color: @component-background;
}

.ant-pagination-options-quick-jumper input {
  background-color: @component-background;
}

.ant-tabs {
  width: 100%;
}

.ant-tabs-top .ant-tabs-nav {
  margin-bottom: 0px;
}

.text-muted {
  color: fade(@black, 60%);
}

// .ant-tabs-content-holder {
//   border: 1px solid #f0f0f0;
//   border-top-width: 0px;
//   padding: 20px;
//   border-radius: 2px;
// }

.ant-alert-content .ant-alert-message {
  .base-text();
  margin-bottom: 0px;
}

.ant-alert-with-description .ant-alert-message {
  .subhead();
  margin-bottom: 0px;
}

.ant-dropdown .ant-dropdown-menu {
  background-color: @white;

  .ant-dropdown-menu-item {
    background-color: @white;
  }

  .ant-dropdown-menu-item:hover,
  .ant-dropdown-menu-submenu-title:hover {
    background-color: fade(@primary-color, 10);
  }
}



.ant-result-title {
  .subhead();
  margin-bottom: 15px;
}

.ant-result-subtitle {
  .base-text();
}

.steps-content {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fafafa;
  min-height: 200px;
}

.ant-steps-item-title {
  .subhead();
  margin: 0;
  line-height: 32px;

  &::after {
    top: 16px;
  }
}

.steps-action {
  margin-top: 24px;

  button {
    margin-right: 8px;
  }
}


.ant-message-notice {
  .ant-message-notice-content {
    background-color: fade(@black, 60);
    color: @white;
    .base-text();
  }
}

.ant-upload.ant-upload-drag {
  .ant-upload-btn.ant-upload {
    padding: 50px;
    background-color: @white;

    .ant-upload-text {
      .subhead();
      margin-bottom: 8px;
    }

    .ant-upload-hint {
      .base-text();
    }
  }
}

.ant-form-item .ant-input-textarea-show-count::after {
  bottom: -32px;
}

.ant-checkbox-inner {
  display: inline-block;
}



.event-color {
  color: @blue-6;
}

.action-color {
  color: @green-6;
}

.condition-color {
  color: @magenta-6;
}

.ant-collapse-content>.ant-collapse-content-box {
  padding: 0px;
}

.ant-collapse-ghost>.ant-collapse-item>.ant-collapse-content>.ant-collapse-content-box {
  padding: 0px;
}

.cursor {
  cursor: pointer;
}

.ant-collapse>.ant-collapse-item>.ant-collapse-header,
.ant-collapse>.ant-collapse-item>.ant-collapse-header .ant-collapse-arrow {
  padding-top: 6px;
  padding-bottom: 6px;
}


.highlight {
  color: @primary-color;
}

.ant-tabs-tab {
  &.ant-tabs-tab-active {
    box-shadow: 0px -2px 0px 0px @primary-color inset;

    .ant-tabs-tab-btn>a,
    &:hover {
      color: @primary-color;
    }
  }

  .ant-tabs-tab-btn {
    font-size: 13px;

    >a,
    &:hover {
      color: fade(@black, 80%);
    }

  }
}


.bg-white {
  background-color: @white;
}

.border {
  border: 1px solid @border-color-base;
}

.br {
  border-right: 1px solid @border-color-base;
}

.bl {
  border-left: 1px solid @border-color-base;
}

.bb {
  border-bottom: 1px solid @border-color-base;
}

.bt {
  border-top: 1px solid @border-color-base;
}

.br-circle {
  border-radius: 50%;
}


// alert info
.ant-alert-info {
  background-color: @white;
  border: 1px solid @border-color-base;
}

.custom {
  .ant-tabs-nav-wrap {
    padding: 0px 20px;
    background-color: #fafafa;
  }
}


.ql-editor {
  height: 42px;
  border: 0px;
}

.ql-toolbar.ql-snow,
.ql-container.ql-snow {
  border: 0px;
}

.ql-toolbar.ql-snow {
  padding: 8px;
  background-color: @white;
}

.ql-container.ql-snow {
  background-color: @white;
}
