<nz-tabset class="custom" [nzSize]="'small'">
    <nz-tab nzTitle="Overview">
        <div class="p-20">

        </div>
    </nz-tab>
    <nz-tab nzTitle="My Resources">
        <div class="p-20">
            
        </div>
    </nz-tab>
    <nz-tab nzTitle="Review & Feedbacks">
        <div class="p-20">

        </div>
    </nz-tab>
    <nz-tab nzTitle="One : One Meetings">
        <div class="p-20">

        </div>
    </nz-tab>
    <nz-tab nzTitle="Promotions and Appraisals">
        <div class="p-20">
            
        </div>
    </nz-tab>
    <nz-tab nzTitle="Leaves & Resignation requests">
        <div class="p-20">
            
        </div>
    </nz-tab>
    <nz-tab nzTitle="Configurations">
        <div class="p-20">
            
        </div>
    </nz-tab>
</nz-tabset>