<nav class="onboarding-nav bg-white py-10 px-80 bb">
  <div nz-row [nzGutter]="16" nzAlign="middle">
    <div nz-col [nzSpan]="12">
      <span class="subhead ml-8 mb-0">
        QuickLabs Corporation Pvt Ltd.
      </span>
    </div>
    <div nz-col class="text-right" [nzSpan]="12">
      <a nz-button nzType="link" class="mr-8"><i nz-icon nzType="question-circle" nzTheme="outline"></i> FAQ's</a>
      <a nz-button nzType="link" class="mr-8"><i nz-icon nzType="info-circle" nzTheme="outline"></i> User Guide</a>
    </div>
  </div>
</nav>
